.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1em;
}

.container:hover .option{
    filter: blur(2px);
}
.option {
    transform: scale(1);
    transition: all .3s ease-in;
}
.container .option:hover{
    filter: blur(0px);
    transform: scale(1.05);
}